{% extends "base.html" %}
<article>{% block content %}
    <h1>About</h1>

    <h3>IS 601, Spring 2022</h3>
    <p>Hi! My name is Angela. I graduated NJIT in May 2021 with a Bachelors
        of Science in Business and Information Systems with a minor in Information Technology.
        Currently for work, I am a QA analyst at a Financial Technology corporation.
        I am responsible for validating many client-facing Tableau dashboards.
        I compare the developed framework to product requirements and validate the data on
        there against the database and requested logic for those KPIs.
        I am also gaining product and project management experience
        by working alongside clients during soft launch demos of dashboards
        I previously tested and performing scrummaster responsibilities.
        My greatest skills are not in developing, but Professor Williams explained concepts clearly throughout this semester. The teaching
    assistants helped me greatly with my projects and any problems I faced which also aided in how I learned important class topics.
    </p>
{% endblock %}
</article>
